# Virtual Environment
*venv*

# Vscode
.vscode

# Python temporary files
*.pyc
*.prof

# Data
*.bsp
backend/data/tles/*
*.zip

# Databsae
*.db
*.sqlite

# pytest
.pytest_cache

# ignore docs for now
docs